@page "/editpost/{postId:int}"

@using AutoMapper;
@using Blogger.Application.Dtos;
@using Blogger.Application.Interfaces.Services;
@using Blogger.Domain.Entities;
@using Blazored.TextEditor
@using System.Security.Claims;
@inject IHttpClientFactory _httpClientFactory
@inject IToastService _toastService
@inject NavigationManager _navigationManager
@inject IMapper _mapper
@if (post == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<div>
		<div class="container py-5">
			<div class="row">
				<div class="col">
					<nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
						<ol class="breadcrumb mb-0">
							<li class="breadcrumb-item active" aria-current="page"><h3>Edit Post</h3></li>
						</ol>
					</nav>
				</div>
			</div>
			<EditForm EditContext="@editContext" OnValidSubmit="UpdatePost">

				<DataAnnotationsValidator />
				@if (!string.IsNullOrEmpty(APIErrorMessages))
				{
					<p class="text-danger">@APIErrorMessages</p>
				}

				<div class="form-group">
					<label class="form-label">Title</label>
					<InputText @bind-Value="post.Title" class="form-control" Placeholder="Enter Title" />
					<ValidationMessage For="@(() => post.Title)" />
				</div>
				<div class="form-group">
					<label class="form-label">Introduction</label>
					<InputText @bind-Value="post.Introduction" class="form-control" Placeholder="Enter Introduction" />
					<ValidationMessage For="@(() => post.Introduction)" />
				</div>
				<div class="form-group" style="height:150px" placeholder="Enter Body Post">
					<label>Body Post</label>
					<BlazoredTextEditor @ref="@QuillHtml">
						<ToolbarContent>
							<select class="ql-header">
								<option selected=""></option>
								<option value="1"></option>
								<option value="2"></option>
								<option value="3"></option>
								<option value="4"></option>
								<option value="5"></option>
							</select>
							<span class="ql-formats">
								<button class="ql-bold"></button>
								<button class="ql-italic"></button>
								<button class="ql-underline"></button>
								<button class="ql-strike"></button>
							</span>
							<span class="ql-formats">
								<select class="ql-color"></select>
								<select class="ql-background"></select>
							</span>
							<span class="ql-formats">
								<button class="ql-list" value="ordered"></button>
								<button class="ql-list" value="bullet"></button>
								<button class="ql-indent" value="-1"></button>
								<button class="ql-indent" value="+1"></button>
								<select class="ql-align">
									<option selected=""></option>
									<option value="center"></option>
									<option value="right"></option>
									<option value="justify"></option>
								</select>
							</span>
							<span class="ql-formats">
								<button class="ql-link"></button>
							</span>
						</ToolbarContent>
						<EditorContent>
							
						</EditorContent>
					</BlazoredTextEditor>
					@if (!string.IsNullOrEmpty(APIErrorMessages))
					{
						<p class="text-danger">@ErrorBodyText</p>
					}
				</div>
				<br />
				<div class="form-group" style="padding-top: 75px;">
					<label class="form-label">Publish</label>
					<InputCheckbox @bind-Value="post.IsPublished" />
				</div>
				<br />
				<div class="form-group">
					<input type="submit" value="Update Post" class="btn btn-primary">
				</div>

			</EditForm>
		</div>
	</div>
}

@code {
	[Parameter]
	public int postId { get; set; }
	public string BodyPost { get; set; }
	public string ErrorBodyText { get; set; }
	public int UserId { get; set; }

	[CascadingParameter]
	private Task<AuthenticationState> authenticationState { get; set; }

	PostDto post;
	private EditContext editContext;
	BlazoredTextEditor QuillHtml;
	private string APIErrorMessages;

	protected async override Task OnInitializedAsync()
	{

		var authState = await authenticationState;
		var user = authState.User;

		if (user.Identity.IsAuthenticated)
		{
			UserId = int.Parse(user.FindFirst(ClaimTypes.NameIdentifier)?.Value);
			if (postId != 0)
			{
				var httpClient = _httpClientFactory.CreateClient("blog");
				var response = await httpClient.PostAsJsonAsync<string>("/api/Posts/PostDetails", postId.ToString());
				if (response.StatusCode == HttpStatusCode.BadRequest)
				{
					var errors = await response.Content.ReadFromJsonAsync<Dictionary<string, List<string>>>();
					if (errors.Count > 0)
					{
						foreach (var item in errors)
						{
							foreach (var errorMessage in item.Value)
							{
								APIErrorMessages = !string.IsNullOrEmpty(APIErrorMessages) ? $"{APIErrorMessages} | {errorMessage}" : $"{errorMessage}";
							}
						}
					}
					_toastService.ShowError(APIErrorMessages);
				}
				else if (response.IsSuccessStatusCode)
				{
					var postInfo = await response.Content.ReadFromJsonAsync<Post>();
					post = _mapper.Map<PostDto>(postInfo);
				}
				else
				{
					_toastService.ShowError("Error on calling API");
				}
			}
		}
		else
		{
			_navigationManager.NavigateTo("/login");
		}	
		editContext = new EditContext(post);
	}
	protected async override Task OnAfterRenderAsync(bool firstRender)
	{
		if (!firstRender) return;
		bool loading = true;
		while (loading)
		{
			try
			{
				if (!string.IsNullOrEmpty(post.BodyText))
				{
					await this.QuillHtml.LoadHTMLContent(post.BodyText);
					loading = false;
				}
			}
			catch
			{
				await Task.Delay(10);
				loading = true;
			}
		}
	}
	async Task OnKeyPress(KeyboardEventArgs args)
	{
		if (args.Key == "Enter")
			await ValidateBodyPost();
	}
	private async Task UpdatePost()
	{
		if (!(await ValidateBodyPost())) return;

		post.BodyText = BodyPost;
		post.UserId = UserId;
		var httpClient = _httpClientFactory.CreateClient("blog");
		var response = await httpClient.PutAsJsonAsync<PostDto>("/api/Posts/UpdatePost", post);
		if (response.StatusCode == HttpStatusCode.BadRequest)
		{
			var errors = await response.Content.ReadFromJsonAsync<Dictionary<string, List<string>>>();
			if (errors.Count > 0)
			{
				foreach (var item in errors)
				{
					foreach (var errorMessage in item.Value)
					{
						APIErrorMessages = !string.IsNullOrEmpty(APIErrorMessages) ? $"{APIErrorMessages} | {errorMessage}" : $"{errorMessage}";
					}
				}
			}
			_toastService.ShowError(APIErrorMessages);
		}
		else if (response.IsSuccessStatusCode)
		{
			_toastService.ShowSuccess("Update Post successfully");
		}
		else
		{
			_toastService.ShowError("Error on calling API");
		}
	}
	private void HandleReset()
	{
		post = new PostDto();
		editContext = new EditContext(post);
	}
	private async Task<bool> ValidateBodyPost()
	{
		BodyPost = await this.QuillHtml.GetHTML();
		if (BodyPost.Replace(" ", string.Empty).Equals("<p></p>"))
		{
			ErrorBodyText = "Body Text can not be empty. Please enter Body Post.";
			_toastService.ShowError("Body Text can not be empty. Please enter Body Post.");
			return false;
		}
		ErrorBodyText = string.Empty;
		return true;
	}
}
