@page "/postdetails/{postId:int}"
@using Blogger.Application.Interfaces.Services;
@using Blogger.Domain.Entities;
@inject IHttpClientFactory _httpClientFactory
@inject IToastService _toastService
@if (Post == null)
{
	<p><em>Loading...</em></p>
}
else
{
    @if (!string.IsNullOrEmpty(APIErrorMessages))
    {
        <p class="text-danger">@APIErrorMessages</p>
    }
<section class="section">
    <div class="container">

        <div class="row blog-entries element-animate">

            <div class="col-md-12 col-lg-8 main-content">

                <div class="post-content-body">
                    <p><b>@Post.Title</b></p>
                    <p>@Post.Introduction</p>
                    <div class="row my-4">
                        <div class="col-md-12 mb-4">
                            <img src="images/@Post.Image" alt="Image placeholder" class="img-fluid rounded">
                        </div>
                    </div>
                        <p>@((MarkupString)Post.BodyText)</p>
                </div>


@*                 <div class="pt-5">
                    <p>Categories:  <a href="#">Food</a>, <a href="#">Travel</a>  Tags: <a href="#">#manila</a>, <a href="#">#asia</a></p>
                </div> *@


                <div class="pt-5 comment-wrap">
                    <h3 class="mb-5 heading">@Post.Comments.Count Comments</h3>
                    <ul class="comment-list">
                        @foreach(var comment in Post.Comments)
                        {
                            <li class="comment">
                                <div class="vcard">
                                    <img src="images/person_1.jpg" alt="Image placeholder">
                                </div>
                                <div class="comment-body">
                                            <h3>@comment.User.FirstName @comment.User.LastName</h3>
                                    <div class="meta">@comment.CreatedDate.ToString() @*  January 9, 2018 at 2:21pm *@</div>
                                    <p>@comment.CommentText</p>
                                    <p><a href="#" class="reply rounded">Reply</a></p>
                                </div>
                            </li>
                        }
                    </ul>
                    <!-- END comment-list -->

                    <div class="comment-form-wrap pt-5">
                        <h3 class="mb-5">Leave a comment</h3>
                        <form action="#" class="p-5 bg-light">
                            <div class="form-group">
                                <label for="name">Name *</label>
                                <input type="text" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="email">Email *</label>
                                <input type="email" class="form-control" id="email">
                            </div>
                            <div class="form-group">
                                <label for="website">Website</label>
                                <input type="url" class="form-control" id="website">
                            </div>

                            <div class="form-group">
                                <label for="message">Message</label>
                                <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Post Comment" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>

            </div>

            <!-- END main-content -->

            

        </div>
    </div>
</section>
}
@code {
    [Parameter]
    public int postId { get; set; }
    public Post Post { get; set; }
    [Inject]
    public IPostService PostService { get; set; }

    private string APIErrorMessages;
    protected override async Task OnInitializedAsync()
    {
        var httpClient = _httpClientFactory.CreateClient("blog");
        var response = await httpClient.PostAsJsonAsync("/api/Posts/PostDetails", postId);
        if (response.StatusCode == HttpStatusCode.BadRequest)
        {
            var errors = await response.Content.ReadFromJsonAsync<Dictionary<string, List<string>>>();
            if (errors.Count > 0)
            {
                foreach (var item in errors)
                {
                    foreach (var errorMessage in item.Value)
                    {
                        APIErrorMessages = !string.IsNullOrEmpty(APIErrorMessages) ? $"{APIErrorMessages} | {errorMessage}" : $"{errorMessage}";
                    }
                }
            }
            _toastService.ShowError(APIErrorMessages);
        }
        else if (response.IsSuccessStatusCode)
        {
            Post = await response.Content.ReadFromJsonAsync<Post>();
            if (Post == null)
            {
                _toastService.ShowSuccess("Get Post Details failed.");
            }

        }
        else
        {
            _toastService.ShowError("Error on calling API");
        }
    }
}
