@page "/users"

@using Blogger.Domain.Entities;
@using Blogger.Application.Interfaces.Services;
@using Microsoft.AspNetCore.Authorization;

@attribute [Authorize(Roles = "Administrator")]
@inject IHttpClientFactory _httpClientFactory
@inject IToastService _toastService

<h3>Users List</h3>
@if (users == null)
{
	<p><em>Loading...</em></p>
}
else
{
    var userCount = users.Count();
    <!--Table-->
    <table class="table table-striped w-auto">

        <!--Table head-->
        <thead>
            <tr>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Date of Birth</th>
                <th>Address</th>
                <th>Status</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <!--Table head-->
        <!--Table body-->
        <tbody>
            @foreach (var item in users)
            {
                <tr class="table-info">
                    <td>@item.Email</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Gender</td>
                    <td>@item.DateOfBirth.Value.ToString("dd/MM/yyyy")</td>
                    <td>@item.Address</td>
                    <td>@(item.IsDeleted ? "InActive" : "Active")</td>
                    <td><i class="fas fa-edit fa-lg me-3 fa-fw" /></td>
                    <td><i class="fas fa-trash fa-lg me-3 fa-fw" /></td>
                </tr>
            }
        </tbody>
        <!--Table body-->

    </table>
    <!--Table-->
}
@code {
    public IEnumerable<User> users { get; set; }
    [Inject]
    public IUserService UserService { get; set; }
    private string APIErrorMessages;
    protected override async Task OnInitializedAsync()
    {
        var httpClient = _httpClientFactory.CreateClient("blog");
        var response = await httpClient.GetAsync($"api/Users/");

        if (response.StatusCode == HttpStatusCode.BadRequest)
        {
            var errors = await response.Content.ReadFromJsonAsync<Dictionary<string, List<string>>>();
            if (errors.Count > 0)
            {
                foreach (var item in errors)
                {
                    foreach (var errorMessage in item.Value)
                    {
                        APIErrorMessages = !string.IsNullOrEmpty(APIErrorMessages) ? $"{APIErrorMessages} | {errorMessage}" : $"{errorMessage}";
                    }
                }
            }
            _toastService.ShowError(APIErrorMessages);
        }
        else if (response.IsSuccessStatusCode)
        {
            users = await response.Content.ReadFromJsonAsync<IEnumerable<User>>();
        }
        else
        {
            _toastService.ShowError("Error on calling API");
        }
    }
}
